<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296535404143-unrn67oh0b09ers7uli3avmd65ojsagk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296535404143-unrn67oh0b09ers7uli3avmd65ojsagk</string>
	<key>API_KEY</key>
	<string>AIzaSyAiRRdMNjkcOd8pXIiqrUg8mndNRpXAXfc</string>
	<key>GCM_SENDER_ID</key>
	<string>296535404143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthHub</string>
	<key>PROJECT_ID</key>
	<string>my-notes-vlad-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-vlad-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296535404143:ios:c064d19e77c2404347a79a</string>
</dict>
</plist>